@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: v.$font;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
}

img {
    width: 100%;
}

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: v.$font;
}

h1,
h2,
h3 {
    font-family: v.$fontHeading;
    font-weight: bold;
}