@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;

.form-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 5rem;
    border: 1px solid black;
    border-radius: 2rem;
    height: 50rem;
    background-color: v.$grisOscuro;
    -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.44);
}

.img-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2rem;
}

.contenido-form {
    background-color: lighten($color: v.$principal, $amount: 20);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: grid;
    grid-template-rows: 80% 20%;

    .footer-form {
        background-color: white;
        border-bottom-right-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.campos {
    margin: auto;
    border: none;
    max-width: 80%;
    width: 50rem;

    label {
        font-size: 1.8rem;
    }

    input:not([type='submit']) {
        display: block;
        padding: 1rem;
        width: 100%;
        margin: 1rem 0;
    }

    .titulo {
        text-transform: uppercase;
        text-align: center;
    }
}